@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    /* Sembunyikan elemen pada perangkat mobile */
    .hide-on-mobile {
        display: none;
    }

    /* Tampilkan elemen hanya pada perangkat mobile */
    .show-on-mobile {
        display: flex !important;
    }
}

/* Default: Sembunyikan elemen khusus untuk mobile */
@media (min-width: 768px) {
    .show-on-mobile {
        display: none !important;
    }
}

@media print {
    .hidden {
      display: none;
    }
  
    /* Add custom styles for printing */
    body {
      font-family: Arial, sans-serif;
    }
  
    .barcode-container {
      text-align: center;
    }
    .id-container {
      text-align: center;
      margin-top: 20px;
    }
  }
  